<launch>
	<node name="manager" pkg="bookle_sys_manager" type="manager" output="screen" args="" />
	<!-- <node name="bookle_tf_pub_node" pkg="bookle_tf_pub" type="bookle_tf_pub_node" output="screen" args="" /> -->
	<node name="zbar_bridge_node" pkg="zbar_bridge" type="zbar_bridge_node" output="screen" args="" />
	<node name="path_planner_node" pkg="bookle_path_plan" type="path_planner_node" output="screen" args="" />
	<node name="path_follower_node" pkg="bookle_path_follow" type="path_follower_node" output="screen" args="" />
	<node name="raspicam_raw_node" pkg="raspicam" type="raspicam_raw_node" output="screen" args="" />
</launch>